* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Symbol', Helvetica, sans-serif;
    color: #808080;
}

html, body, main {
    height: 100%;
}

html, body, main {
    background-color: #F8F8F8;
}

main {
    margin-left: 352px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-virtical {
    width: 352px;
    height: 100%;
    padding: 20px;

    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-header, .nav-row{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.nav-header {
    font-size: xx-large;
    margin-bottom: 20px;
}

.nav-header a:hover {
    color: #69C7D3;
}

.nav-row {
    font-size: large;
}

.nav-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 10px;
    display: block;
}

.nav-button:hover {
    background-color: #69C7D3;
    color: #FFFFFF;
    border: none;
}

.nav-button * {
    color: inherit;
}

.main-button-wrapper {
    font-size: x-large;
    text-align: center;
}

.main-button {
    height: 30rem;
    width: 30rem;
    background-color: #FFFFFF;
    border: 1px solid #707070;

    border-radius: 10px;
    overflow: hidden;
}

.form-row {
    text-align: start;
    padding: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.btn {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #838383;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: #69C7D3;
    color: #FFFFFF;
    border: none;
}

.p5-container {
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
}

