<!DOCTYPE html>
<html>
    <head>
        <title>Visualizer</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles.css') }}"
        />
    </head>
    <body>
        <nav class="navbar-virtical">
            <div class="nav-header">
                <a href="/"><h1 style="color: inherit;">Visualizer</h1></a>
            </div>
            {% if page == 'index' %}
            <div class="nav-row">
                <a class="nav-button" href="/sorting">
                    <h3>Sorting</h3>
                    <h3>Algorithms</h3>
                </a>
            </div>
            <div class="nav-row">
                <a class="nav-button" href="/pathfinding">
                    <h3>Pathfinder</h3>
                    <h3>Algorithms</h3>
                </a>
            </div>
            {% elif page == 'sorting' %}
            <div class="nav-row">
                <form id="sorting-form" class="nav-form">
                    <div class="form-row">
                        <p>Algorithm:</p>
                        <select id="sorting-algorithm" class="form-control" required>
                            <option value="bubble" selected>Bubble Sort</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <p>Length:</p>
                        <input id="sorting-length" type="number" class="form-control" value="100" />
                    </div>
                    <div class="form-row">
                        <button class="btn" type="submit">Start</button>
                    </div>
                </form>
            </div>
            {% elif page == 'pathfinding' %}
            <div class="nav-row">
                <form id="pathfinder-form" class="nav-form">
                    <div class="form-row">
                        <p>Algorithm:</p>
                        <select id="pathfinder-algorithm" class="form-control">
                            <option value="a-star">A*</option>
                            <!-- <option value="depth-first">Depth First</option>
                                <option value="breath-first">Breath First</option> -->
                        </select>
                    </div>
                    <div class="form-row">
                        <p>Options:</p>
                        <select id="pathfinder-options" class="form-control">
                            <option value="start">Start ></option>
                            <option value="end">End #</option>
                            <option value="wall">Wall |</option>
                            <option value="clear">Clear</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <button id="pathfinder-start" class="btn" type="submit">Start</button>
                    </div>
                    <div class="form-row">
                        <button id="pathfinder-clear" class="btn" type="button">Clear</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
