{% extends 'base.html' %}
{% block content %}
    {% if page == 'index' %}
        <div class="main-button-wrapper">
            <h2>Sorting Algorithms</h2>
            <div class="main-button">
                <a href="/sorting"><img src="{{ url_for('static',filename='images/SortButton.png') }}" height="100%" width="100%"></a>
            </div>
        </div>
        <div class="main-button-wrapper">
            <h2>Pathfinding Algorithms</h2>
            <div class="main-button">
                <a href="/pathfinding"><img src="{{ url_for('static',filename='images/PathButton.png') }}"height="100%" width="100%"></a>
            </div>
        </div>
    {% elif page == 'sorting' %}
        <div id="sortingContainer" class="p5-container"></div>
        <script src="{{ url_for('static',filename='script/sorting/p5.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='script/sorting/sorting-sketch.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='script/sorting/sorting.js') }}"></script>
    {% elif page == 'pathfinding' %}
        <div id="pathfinderContainer" class="p5-container" style="width: 800px; height: 800px;"></div>
        <script src="{{ url_for('static',filename='script/pathfinder/p5.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='script/pathfinder/pathfinder-sketch.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='script/pathfinder/grid.js') }}"></script>
    {% endif %}
{% endblock %}
    